@page
@model AdonetCoreMVC1.Pages.PageMusteri.IndexModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
     ViewData["Title"] = "Page Müşteri Bilgisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Müşteri Listeleme</h1>

@foreach (var m in Model.Musteriler)
{
    <div> @m.Id - @m.Adi - @m.Soyadi - @m.Tel - @m.SirketAdi</div>
}

<h1>Müşteri Ekleme İşlemi</h1>
<form method="Post">
    Müşteri Adı: <input asp-for="musteri.Adi"/><br />
    Müşteri Soyadı: <input asp-for="musteri.Soyadi"/><br />
    Müşteri Tel: <input asp-for="musteri.Tel"/><br />
    Müşteri Sirket Adi: <input asp-for="musteri.SirketAdi"/><br />
    <input type="submit" value="Kaydet" />
</form>

<br />
<br />
<br />
<h2>Müşteri Listeleme</h2>

@await Component.InvokeAsync("MusteriListe")

<h2>Müşteri Listeleme Parametreli</h2>
@await Component.InvokeAsync("MusteriListe", new {parametre = "a"})